:root {
    --color-white: #F5F5F5;
    --color-white-clear: #3b3b3b;
    --color-dark: #131619;
    --color-accent: #0c8ee4;
    --color-hover: #818588;

    --font-family: 'Oswald', sans-serif;

    --transition-default: all 0.3s ease-in-out;
}