@import 'normalize', 'variables', 'fonts', 'visually-hidden', 'noselect';

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--color-dark);
}

* {
    color: var(--color-white);
    scroll-behavior: smooth;
}

.is-current::before {
    position: absolute;
    left: -15px;
    top: 9.5px;
    margin-right: 10px;
    content: "";
    width: 7px;
    height: 7px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.header {
    display: flex;
    width: 100%;
    height: 75px;
    padding-inline: 20vw;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white-clear);

    &__logo {
        width: 210px;

        & svg {
        transition: var(--transition-default);

            &:hover {
                fill: var(--color-hover);
            }
        }
    }

    &__nav {

        &__list {
            display: flex;
        }

        &__item {
            font-size: 18px;
            position: relative;

            &:not(:last-child) {
                margin-right: 45px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: var(--transition-default);
                &:hover {
                    color: var(--color-hover);
                }
            }
        }
    }

    &__actions {
        width: 210px;
    }

    a {
        text-decoration: none;
    }
}

.content {
    padding: 40px 20vw;
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 30px;

    &__filter {
        display: flex;
        top: 50px;
        position: sticky;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 230px;
        height: 100%;
        padding: 24px 24px;
        background-color: var(--color-white-clear);

        &__label {
            margin-bottom: 5px;
        }
    }



    &__ads {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        row-gap: 20px;
        column-gap: 20px;

        &__ad {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 25px;
            background-color: var(--color-white-clear);
            cursor: pointer;

            &__photo {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 100%;
                height: 210px;
                margin-bottom: 14px;

                &__img {
                    max-width: auto;
                    height: auto;
                }
            }

            &__title {
                font-size: 20px;
                margin-bottom: 30px;
            }

            &__stats {
                width: 100%;

                & th {
                    text-align: left;
                }

                & td {
                    display: flex;
                    justify-content: end;
                    text-align: right;
                }

                &__container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                }
            }
        }
    }
    &__orders {
        min-width: 45.6vw;
        height: 100%;

        &__order {
            background-color: var(--color-white-clear);
            padding: 25px 35px;
            margin-bottom: 25px;

            &__title {
                font-size: 28px;
                margin-bottom: 15px;
            }

            &__details{
                &__list {
                    font-size: 18px;
                }
                &__item {
                    margin-bottom: 4px;
                }
            }
            &__list {
                display: flex;
                padding: 25px 25px;
                background-color: var(--color-dark);
                overflow: auto;
                font-size: 18px;
                margin-bottom: 24px;

                &__title {
                    font-size: 18px;
                    margin-bottom: 4px;
                }
            }

            &__item {
                background-color: var(--color-white-clear);
                padding: 10px 15px;
                cursor: pointer;


                &__photo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 8px;
                }

                &__item {
                    &:first-child {
                        font-size: 24px;
                        margin-bottom: 12px;
                    }

                    text-wrap: nowrap;
                }

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
    
    &__adcard {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__list {
            width: 750px;
            height: auto;
            overflow: auto;
            padding: 30px;
        }
    }
}

.container {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20vw 40px calc(20vw + 230px + 30px);
        text-align: end;
        justify-content: end;
        align-items: start;
        gap: 10px 25px;

        &__pages {
            display: grid;
            grid-template-columns: repeat(auto-fit, 100px);
            grid-auto-flow: column;
            gap: 15px;
    
            &__title {
                display: flex;
                justify-content: center;
                align-items: end;
                width: 400px;
                font-size: 24px;
                height: 40px;
                padding: 8px 15px;
                white-space: nowrap;
            }
            
            &__page {
                background-color: var(--color-accent);
                padding: 8px 15px;
                min-width: 100px;
                text-align: center;
                border-radius: 24px;
                cursor: pointer;
                transition: var(--transition-default);
    
                &.current {
                    background-color: var(--color-current-page);
                }
    
                &:hover:not(.current) {
                    background-color: var(--color-white-clear);
                }
            }
        }
    }
}

.error404 {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;

    &__title {
        color: var(--color-error);
    }
}