.textArea {
    color: black;
    line-height: 20px;
    width: 290px;
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    padding: 5px 12px;
    border: 2px solid rgb(240, 171, 69);
}